/* body全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* header部分のスタイル */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  /* ナビゲーションメニューのスタイル */
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* main部分のスタイル */
  main {
    padding: 20px;
  }
  
  /* footer部分のスタイル */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  